<!DOCTYPE html>
<html lang="en">
<head>
    <style> body h1 {background-color:#000000; color:white} </style>
    <meta charset="UTF-8">
    <title>Miranda All Age 4s</title>
</head>
<body>
<h1 style="text-align:center"> Miranda Magpies Al04 </h1>

{% load static %}
<div style="text-align:center">
    <img src="{% static 'mmfc_logo.jpg' %}" class='center'>
</div>

<div style="text-align:center">
    <a class="active" href="/fines" style="font-size:36px">Fines</a>
</div>

</body>
</html>